{% extends "base.html" %}
{% load static %}
{% block title %}Restablecer Contraseña{% endblock %}
{% block content %}
<main>
  <div>
    <h4>Restablecer Contraseña</h4>
    <p>¿Olvidaste tu clave? Ingresa tu correo y te enviaremos instrucciones.</p>

    <form action="" method="post">
      {% csrf_token %}
      {{ form.email.errors }}
      <div><input type="email" name="email" id="id_email" maxlength="254" required placeholder="Introduce tu email"></div>
      <div><button type="submit" value="Confirmar"><span>Confirmar</span></button></div>
    </form>

    <p><a href="{% url 'login' %}">Volver al inicio</a></p>
  </div>
</main>
{% endblock %}
