{% extends "base.html" %}
{% block title %}Contraseña cambiada correctamente{% endblock %}

{% block content %}
<main>
  <div>
    {% if request.user.profile.first_session == 'Si' %}
      <h3>Primer inicio de sesión</h3>
      <h4>Paso 2 de 2: Confirma tu correo</h4>
      <p>Revisa tu correo; si no está correcto cámbialo (usa tu correo institucional) y presiona Aceptar.</p>

      <form action="{% url 'check_profile' %}" method="post">
        {% csrf_token %}
        <input type="email" name="email" value="{{ request.user.email }}" required>
        <br/>
        <input type="submit" value="Aceptar">
      </form>

    {% else %}
      <h3>Contraseña cambiada correctamente</h3>
      <p>Puedes volver a tu perfil haciendo clic <a href="{% url 'check_profile' %}">aquí</a>.</p>
    {% endif %}
  </div>
</main>
{% endblock %}
