{% extends "registration/registration_base.html" %}

{% block title %}Restablecimiento Completado | Gestión Municipal{% endblock %}

{% block auth_title %}
    ¡Contraseña Cambiada!
{% endblock %}

{% block auth_content %}
    <div class="alert alert-success text-center" role="alert">
       Tu contraseña ha sido establecida.
       <br>
       Ahora puedes iniciar sesión.
    </div>

    <div class="d-grid mt-4">
        <a href="{% url 'login' %}" class="btn btn-primary btn-lg">Iniciar Sesión</a>
    </div>
{% endblock %}