{% extends "base.html" %}
{% load static %}
{% block title %}Perfil{% endblock %}
{% block content %}
<style>.errorlist{color:red;} label{display:none}</style>
<main>
  <div>
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div>
        <div>
          {% if request.user.profile.avatar %}
            <img src="{{ request.user.profile.avatar.url }}" alt="Avatar" />
            <p>¿Borrar? <input type="checkbox" id="avatar-clear" name="avatar-clear" /></p>
          {% else %}
            <img src="{% static 'registration/img/no-avatar.jpg' %}" alt="Sin avatar" />
          {% endif %}
        </div>

        <div>
          <input type="file" name="avatar" id="id_avatar">
          {{ form.link }}
        </div>

        <div>
          <input type="submit" value="Actualizar">
          {# Ajusta 'check_group_main' si tu URL se llama distinto #}
          <a href="{% url 'check_group_main' %}">Volver</a>
        </div>
      </div>
    </form>
  </div>
</main>
{% endblock %}
