{% extends "main_base.html" %}

{% block dashboard_content %}
<div class="container">
    <h1>Panel de Departamento</h1>
    <p>Bienvenido. Aquí puedes revisar reportes generales, supervisar departamentos y coordinar estrategias.</p>

    <hr>

    <h3>Gestión de Departamento</h3>
    <p>Bienvenido. Aquí puedes revisar reportes generales, supervisar departamentos y coordinar estrategias.</p>

    <div class="acciones mb-3">
        <a href="{% url 'organizacion:departamentos_lista' %}" class="btn btn-primary">Ver todos los departamentos</a>
    </div>

    <hr>
    <h3>Gestión de Incidencias</h3>
    <p>Desde aquí puedes revisar todas las incidencias reportadas en el sistema.</p>

    <div class="acciones">
        <a href="{% url 'incidencias:incidencias_lista' %}" class="btn btn-info">Ver todas las Incidencias</a>
    </div>
</div>
{% endblock %}
