
{% extends "main_base.html" %}
{% block dashboard_content %}
<div class="container">
  <h1>Panel Territorial</h1>
  <p>Bienvenido, {{ user.first_name }} {{ user.last_name }}. Aquí puedes gestionar encuestas e incidencias.</p>
  <hr>


  <h3>Gestión de Encuestas</h3>
  <p>Accede al CRUD completo de encuestas:</p>

  <div class="acciones mb-3">
    <a href="{% url 'territorial_app:encuestas_lista' %}" class="btn btn-primary"> Ver todas las Encuestas</a>
    <a href="{% url 'territorial_app:encuesta_crear' %}" class="btn btn-success ms-2">Crear Encuesta</a>
  </div>

  <hr>

  <h3>Gestión de Incidencias</h3>
  <p>Accede a las incidencias para crearlas, editarlas, validarlas, rechazarlas o reasignarlas:</p>

  <div class="acciones mb-3">
      <a href="{% url 'incidencias:incidencias_lista' %}" class="btn btn-primary">Ver todas las Incidencias</a>
      <a href="{% url 'incidencias:incidencia_crear' %}" class="btn btn-success ms-2"> Crear Incidencia</a>
  </div>
  <hr>

{% endblock %}

