{% load static %}
{% load personas_auth_extras %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Encuestas{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <nav>
    {% if user.is_authenticated %}
      Hola, {{ user.username }} |
      <a href="{% url 'personas:logout' %}">Salir</a>
      {% if user.is_superuser or user|has_group:"Administrador" %}
        | <a href="{% url 'usuarios_lista' %}">Usuarios</a>
      {% endif %}
    {% else %}
      <a href="{% url 'login' %}">Entrar</a>
    {% endif %}
  </nav>
  <hr>

  {% if messages %}
    <ul>
      {% for m in messages %}
        <li>{{ m }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  {% block content %}
  {% endblock %}
</body>
</html>


