{% load static %}
{% load personas_auth_extras %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Encuestas{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    .nav-container {
      display: flex;
      justify-content: space-between; /* Empuja los elementos a los lados */
      align-items: center;
      padding: 5px 0;
    }
    .nav-right {
      margin-left: auto; /* Mueve el botón de casa a la derecha */
    }
  </style>
</head>
<body>
  <nav class="nav-container">
    <div>
    {% if user.is_authenticated %}
      Hola, {{ user.username }} |
      
      <button onclick="window.history.back()" style="margin-right: 10px; cursor: pointer;">
          Volver Atrás
</button> 
      |
      
      <a href="{% url 'personas:cerrar_sesion' %}">Cerrar Sesión</a>
      
            {% if user.is_superuser or user|has_group:"Administrador" %}
        
            {% endif %}
      
    {% else %}
      <a href="{% url 'login' %}">Entrar</a>
    {% endif %}
    </div>

    {% if user.is_authenticated %}
    <div class="nav-right">
        <a href="{% url 'home' %}" style="font-size: 24px; text-decoration: none;">
            Menu Principal
        </a>
    </div>
    {% endif %}
  </nav>
  <hr>

  {% if messages %}
    <ul>
      {% for m in messages %}
        <li>{{ m }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  {% block content %}
  {% endblock %}
</body>
</html>