{% extends "base.html" %}

{% block title %}Tipos de Incidencia{% endblock %}

{% block content %}
<h1>Tipos de Incidencia</h1>

<div class="mb-3">
    <a href="{% url 'incidencias:tipo_crear' %}" class="btn btn-success"> Nuevo Tipo</a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre Problema</th>
            <th>Descripción</th>
            <th>Gravedad</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for tipo in tipos %}
        <tr>
            <td>{{ tipo.id }}</td>
            <td>{{ tipo.nombre_problema }}</td>
            <td>{{ tipo.descripcion }}</td>
            <td>{{ tipo.tipo_gravedad }}</td>
            <td>
                <li><a href="{% url 'incidencias:tipo_crear' %}">Crear Nuevo Tipo de Incidencia</a></li>
                <a href="{% url 'incidencias:tipo_editar' tipo.id %}" class="btn btn-sm btn-info">Editar</a>
                <a href="{% url 'incidencias:tipo_eliminar' tipo.id %}" class="btn btn-sm btn-danger">Eliminar</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">No hay tipos de incidencia.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
